body.dragging, body.dragging * {
  cursor: move !important;
}
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
ol.example li.placeholder {
  position: relative;
}
ol.example li.placeholder:before {
  position: absolute;
}
.timetable-checkin {
	display: block;
	padding: 15px 0px;
	border-radius: 5px;
	transition: all 150ms ease-in-out;
	background-color: rgba(199, 199, 199, 0.2)
}
.timetable-checkin.bg-primary > .card-title {
	color: #3C4858;
}
.timetable-checkin.bg-primary > .card-description {
	color: #ffffff;
}
.thumbnail-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
}
.thumbnail-wrapper:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.thumbnail-wrapper > img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  width: 100%;
  border-radius: 0;
}
.table-container {
	margin-top: 30px;
	position: relative;
}
.table-container .thumbnail-wrapper {
  border-radius: 5px;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: solid 5px #ddd;
}
.table-container .table-search {
	width: 100%;
}
.table-container .table-search > .form-group {
	margin: 0px;
}
.table-container .col-action > .btn {
	margin: 3.5px;
}
.table-container .table thead > tr > th.sort-table {
	position: relative;
	cursor: pointer;
}
.table-container .table thead > tr > th.sort-table:after {
	font-family: "Font Awesome 5 Free";
	content: "\f0dc";
	position: absolute;
	right: 1em;
	font-size: .75em;
	opacity: .25;
}
.table-container .table thead > tr > th.sort-table.asc:after {
	content: "\f0de";
	opacity: .75;
}
.table-container .table thead > tr > th.sort-table.desc:after {
	content: "\f0dd";
	opacity: .75;
}
.table-container .table thead > tr > td > pre {
  margin-bottom: 0;
}
.bootbox-confirm .modal-footer > .btn + .btn {
	margin-left: 24px;
}
.behavior-count {
	font-weight: bold;
	font-size: 12px;
}
.student-behavior > .badge {
	font-weight: bold;
	font-size: 15px;
}
.tips {
  background: #f0f0f0;
  clear: both;
  color: #999;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.4;
  padding: 7.5px 20px;
}
.card-permission {
	margin: 0px;
	text-transform: capitalize;
}
.card-permission .card-title > .form-check-inline {
  margin-top: 0;
  margin-right: 20px;
  float: right;
}
.card-permission + .card-permission {
	margin-top: 10px;
}
.card-permission > .card-body {
	padding: 10px 15px;
}
.bg-transparent {
  background: transparent !important;
}
.loading-ovarlay {
	position: fixed;
  display: none;
	top: 0px;
	left: 0px;
	width: 100%;
	height: calc(100% + 20px);
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1090;
}
.lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 80px;
	height: 60px;
	top: 0px;
	left: calc(50% - 40px);
}
body > .loading-ovarlay > .lds-ellipsis {
  top: calc(50% - 30px);
}
.lds-ellipsis div {
  position: absolute;
  top: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2196f3;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
} 
.align-items-left{
  text-align: left;
}
.align-items-center{
  text-align: center;
}
.align-items-right{
  text-align: right;
}



